:host {
  display: block;
  width: 100%;
  height: 100%;
}

.live-spark {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--excent-positive);

  &.is-down {
    color: var(--excent-negative);
  }
}
